@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

@layer components {
  .learn-box {
    @apply h-40 bg-red-500 border-black border-2;
  }

  .learn-section {
    @apply  bg-blue-500 grid grid-cols-2 w-[100%];
  }
}

@layer base{
  button{
    @apply p-2 m-1;
  }
}